div.nav{
  font-family: sans-serif;
  font-size: 30px;
  background-color:#126180;
  padding-bottom: 20px;
  margin-left:0;
  margin-right:0;
}
body{
  background-color: #00FFFF;
}
#curl{
  color: white;
}
div.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.nav img{
  width: 50px;
  height: 50px;
}
.carousel-img{
  width: 70%;
  height: 70%;
  margin-top: 1px;
}
.nav li{
  padding: 20px 30px;
}
h1{
  font-family: sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  color: black;

}
#flat{
  float: left;
  width: 300px;
  height: 300px;
}
.about{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: black;
}
.education{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: black;
}
.jobexperience{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: black;
}
.boxmodel{
  margin: 50px;
  border: 2px solid green;
  padding: 40px;
}
.hobbies{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: black;
}
#projects{
  font-style: italic;
  font-size: 150%;
  font-weight: bolder;
  color: red;

}
